<ion-header>
  <ion-toolbar>
    <ion-title>forgotpassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form [formGroup]="forgotpasswordform" (ngSubmit)="onSubmit()">
      <div>
        <h1>Mot de passe oublié</h1>
      </div>
      <div>
        <ion-input type="email" formControlName="email" placeholder="E-mail"></ion-input>
        <div class="errors" *ngIf="forgotpasswordform.controls.email?.hasError('required') && forgotpasswordform.controls.email?.dirty">
          email requis !
        </div>
      </div>
      <div>
        <input type="submit" value="Envoyer" [disabled]="!forgotpasswordform.valid" />
      </div>
      <div>
        <button (click)="skip()" class="skip">Annuler</button>
      </div>
    </form>
  </div>
</ion-content>
